
<div class="jumbotron">
    <h1>Ajax Practice</h1>
    <div class="row">
        <br />
        <p>Type in "Lowly Pawn" and "Middle Man" to get their supervisors</p>
        <input type="text" id="realtime" placeholder="In real-time..."/>
        <div id="outputRealtime"></div>
        <br />
        <br />
        <p>Use a button to bring up a modal with an employees name while using a dropdown.</p>
        @Html.DropDownList("StaffName", (List<SelectListItem>)ViewBag.dropdownList)
        <a data-toggle="modal" href="#myModal" class="btn btn-primary" onclick="getSupervisorByID()">Get Supervisor</a>
    </div>

    

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">The supervisor is...</h4>
                </div>
                <div class="modal-body" id="output">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    <script type="text/javascript">
        $("#realtime").on('input', function () {
            var inputData = $("#realtime").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSupervisorForEmployeeByName", "Home")',
                data: { 'name' : inputData },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    document.getElementById("outputRealtime").innerHTML = data.Name;
                },
                error: function () {
                    document.getElementById("outputRealtime").innerHTML = "";
                }
            });
        });

        function getSupervisorByID() {
            var selected = $("#StaffName").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSupervisorForEmployeeByID", "Home")',
                data: { 'id' : selected },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    document.getElementById("output").innerHTML = data.Name;
                },
                error: function () {
                    alert("something went wrong");
                }
            });
        }
    </script>
}
